  /* body {
    font-family: 'Nunito Semibold';
    
   }
.app{
 display: grid;
 max-width: 1600px;
 margin: 0 0;
}

.quiz-container{
 display: grid ;
 text-align: left;
}

.answers{
 display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-auto-rows: minmax(50px, auto);
   gap: 10px;
   max-width:960px;
    }

.answers div{
 background: wheat;
 padding: 30px;
}

.selected-answer{
  background-color: red ;
}
 */
